extends layout
include paletteCanvas.jade
include mixins/canvas.jade

block content
  section    
    +mbCanvas
    +juliaCanvas
    +paletteCanvas

block postJs
  script(type="text/javascript", src="/javascripts/bundle.js")
