extends layout

block content
  section
    h1 Julia set
    
    button#resetMb Reset Mandelbrot set
    canvas#mbCanvas.zoomCanvas(width="256", height="256")
      p.redText Your browser does not support the canvas tag.
    
